################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MIPS/bin/Debug/nunit.framework.xml
/MIPS/bin/Debug/nunit.framework.dll
/MIPS/packages.config
/packages/NUnit.3.6.0
