################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MIPS/bin/Debug/nunit.framework.xml
